<div class="row">
  <div class="col-md-6">
    <h4>
      <i class="fa fa-users"></i> Clients
    </h4>
  </div>
  <div class="col-md-6">
    <h6 class="text-right text-secondary">
      Total Owed: {{totalOwed | currency: "EUR"}}
    </h6>
  </div>
</div>

<table class="table table-striped" *ngIf="clients?.length > 0; else noClients">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.firstName}} {{client.lastName}}</td>
      <td>{{client.email}}</td>
      <td>{{client.balance | currency: "EUR"}}</td>
      <td>
        <a class="btn btn-secondary btn-sm" routerLink="client/{{client.id}}">
          <i class="fa fa-info-circle"></i>
          Details
        </a>
      </td>
    </tr>
  </tbody>

</table>
<ng-template #noClients>
  <hr>
  <h6>There are no clients!</h6>
</ng-template>